/* Facebook */
.fb-like-box {
    background:#fff;
}
.rblikebox{
    background: url("../images/bg_fb_right_sqr.png") no-repeat scroll 0 0 transparent;display: block;
    float: right;
    padding: 10px;
    width: 220px;
    height:402px;
    z-index: 9998;
    position:fixed;
    right:-210px;
    top:100px;
}
.rblikebox div{
    border:none;
    position:relative;
    display:block;
    margin-left: 15px;
}	
/* Google Plus */
.g-plus {
    background:#fff;
}
.gplikebox{
    background: url("../images/bg_gp_right_sqr.png") no-repeat scroll 0 0 transparent;display: block;
    float: right;
    padding: 10px;
    width: 220px;
    height:402px;
    z-index: 9998;
    position:fixed;
    right:-210px;
    top:200px;
    overflow: hidden;
}
.gplikebox > div {
    background: none repeat scroll 0 0 #FFFFFF;
    border: medium none;
    display: block;
    height: 375px;
    margin-left: 30px;
    padding: 3px;
    position: relative;
    width: 190px;
    overflow: hidden;
}
/* Tweeter */
.twitterbox {
    background: url("../images/bg_tw_right_sqr.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    float: right;
    height: 410px;
    padding: 10px;
    position: fixed;
    right: -210px;
    top: 300px;
    width: 220px;
    z-index: 9998;
}
.twitterbox div {
    border: medium none;
    display: block;
    height: 380px;
    margin-left: 30px;
    overflow: hidden;
    position: relative;
}
/* Pinterest */
.pinterestbox {
    background: url("../images/bg_pt_right_sqr.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    float: right;
    height: 410px;
    padding: 10px;
    position: fixed;
    right: -210px;
    top: 500px;
    width: 220px;
    z-index: 9998;
}
.pinterestbox div {
    border: medium none;
    display: block;
    height: 380px;
    margin-left: 30px;
    overflow: hidden;
    position: relative;
}
/* YouTube */
.you-tube {
    background:#fff;
}
.ytlikebox{
    background: url("../images/bg_yt_right_sqr.png") no-repeat scroll 0 0 transparent;display: block;
    float: right;
    padding: 10px;
    width: 220px;
    height:100px;
    z-index: 9999;
    position:fixed;
    right:-210px;
    top:400px;
    overflow: hidden;
}
.ytlikebox > div {
    background: none repeat scroll 0 0 #FFFFFF;
    border: medium none;
    display: block;
    height: 80px;
    margin-left: 30px;
    padding: 3px;
    position: relative;
    width: 268px;
    overflow: hidden;
}
/* Opineo.pl */
.opineo {
    background:#fff;
}
.opineobox{
    background: url("../images/bg_op_right_sqr.png") no-repeat scroll 0 0 transparent;display: block;
    float: right;
    padding: 10px;
    width: 220px;
    height:382px;
    z-index: 9999;
    position:fixed;
    right:-210px;
    top:500px;
    overflow: hidden;
}
.opineobox > div {
    background: none repeat scroll 0 0 #FFFFFF;
    border: medium none;
    display: block;
    height: 375px;
    margin-left: 30px;
    padding: 3px;
    position: relative;
    width: 268px;
    overflow: hidden;
}